/* You can add global styles to this file, and also import other style files */
* {
    box-sizing:border-box;
    font-family: helvetica;
}
.selected {
    background-color: #1876F2;
    color: white;
}
.curr-date {
    font-weight: bold;
    background-color: white !important;
}
.container {
    width: 606px;
    padding: 10px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #CED0D4;
    border-radius: 10px;
}
.header-calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.days-wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #CED0D4;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    color: #B3B4B6;
}
.days{
    width: 25px;
    margin-bottom: 5px;
}
.dates-wrapper {
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-around
}
.title {
    font-size: 24px;
    font-weight: 500;
    color: #050505;
}
.date-cell {
    padding: 6px;
    width: 75px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 82px;
    border-radius: 8px;
}
.btns {
    cursor: pointer;
    color: grey;
    width: 36px;
    padding: 5px;
    border-radius: 27px;
    font-size: 23px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}