<div class="container">
    <div class="header-calendar">
        <div class="btns"  [class.curr-date]="matchDate && checkCurrDate()" (click)="previous()">
            <span id="previous"><fa-icon class="icon" [icon]="iconLeft"></fa-icon></span>
        </div>
        <span class="title">{{currMonth}} {{currYear}}</span>
        <div class="btns"  (click)="next()">
            <span id="next"><fa-icon [icon]="iconRight"></fa-icon></span>
        </div>
    </div>
    <div class="days-wrapper">
        <span class="days" *ngFor="let day of weekdays">{{day}}</span>
    </div>
    <div class="dates-wrapper"> 
        <div class="date-cell"  *ngFor="let date of dates">
            <span class="dates" 
            [class.curr-date]="date == currDay && checkCurrDate()"
            (click) ='selected($event)'>
                 {{date}}
            </span>
        </div>
    </div>
</div>
